doctype 5
html
  head
    title BRIK
    link(href='http://fonts.googleapis.com/css?family=Telex|Roboto+Condensed:400,700|Gentium+Book+Basic:400,400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .hero
      img.brik(src="/images/brik.svg")
    .hero-imposter
    .about.big-hex
      .hero-capt 
        .top Innovative løsninger 
        .mid for mobil og desktop
        .low der best mulig formidling til <strong>brukeren</strong> står i sentrum. 
      .hero-sub Vi utnytter potensialet i video, holder oss kontinuerlig oppdatert på hva som er mulig, samtidig som vi etterstreber å gjøre nye ting mulig. 
    .info.hex.center
