doctype 5
html
  head
    title BRIK
    link(href='http://fonts.googleapis.com/css?family=Inconsolata|Roboto+Condensed:400,700|Gentium+Book+Basic:400,400italic', rel='stylesheet', type='text/css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .hero
      video.scene(src="/images/nightscene.mp4", type="video/mp4", loop="loop", autoplay="autoplay")
      img.brik(src="/images/brik.svg")
    .hero-imposter
    .about.big-hex
      .hero-capt 
        .top Innovative løsninger 
        .mid for mobil og desktop
        .low der best mulig formidling til <strong>brukeren</strong> står i sentrum. 
      .hero-sub Vi utnytter potensialet i video, holder oss kontinuerlig oppdatert på hva som er mulig, samtidig som vi etterstreber å gjøre nye ting mulig. 
    .content
      .info.hex.center
      .collaborators!= content
      .team!= team

      .minihex-leash
        .minihex.center
          .contact
            .top Ta kontakt
            .mid med oss!
            .mode
              .mode-head
                i.icon-envelope
              a(href="mailto:post@brik.no") 
                | post@brik.no
            .mode
              .mode-head
                i.icon-phone
              | 55233600
            .mode
              .mode-head
                i.icon-home
              .address
                .line Kong Christian Frederiks plass 3
                .line Inngang B (<em>Slippen</em> bygning)
                .line 5006 Bergen
