doctype 5
html
  head
    title BRIK
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .hero
      img.brik(src="/images/brik.svg")
    .hero-imposter
    .about.hex.right
    .partners.hex.left
    .team.hex.right
    .contact
